<footer class="bgWhite">

    <!-- Creo un selector de clase que se utilizará más abajo en las secciones -->

    <!-- Otra sección que repite clase2 -->
      <section class="theBenefits">
        <div><i class="fa-solid fa-credit-card"></i></div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

    <!-- Otra sección que repite clase2 -->
      <section class="theBenefits">
        <div><i class="fa-solid fa-gift"></i></div>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

    <!-- Otra sección que repite clase2 -->
      <section class="theBenefits">
        <div><i class="fa-solid fa-user-shield"></i></div>
        <h4>Seguridad, de principio a fin</h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
      </section>

      <!-- Copyright -->
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>