<header class="bgYellow">

    <!-- Definimos un selector de clase que afectará al header para alinear -->
      <div class="topHeader">

        <!-- Definimos un selector de clase que afectará al logo -->
        <h1 class="logoML">    
        <!-- Usamos la siguiente imagen para el header -->
        <a href="/">
          <img
            src="/images/logo-mercado-liebre.svg"
            alt="logo mercado liebre"
          />
        </a>
        </h1>

        <!-- Creo la barra de búsqueda -->
        <form class="searchNav" action="" method="" role="search">
          <input type="text" placeholder="Buscar productos, marcas y más…" 
          maxlength="120" autocapitalize="off" spellcheck="false" 
          autocomplete="off"  />
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>

        <!-- MercadoCrédito -->
        <p class="credit">
          <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
          tarjeta de crédito
        </p>
        
      </div>

      

      <!-- Menú de navegación con links -->
      <nav>
        <ul>
        <li>
            <a href="">Ofertas</a>
        </li>
        <li>
            <a href="">Tiendas Oficiales</a>
        </li>
        <li>
            <a href="">Vender</a>
        </li>
          <li><a href="">Ayuda</a></li>
        </ul>

        <!-- Más menús -->
        <ul>
          <li>
            <a href="register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a>
          </li>
          <li>
            <a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
          </li>
        </ul>

        <!-- Creo el menú hamburguesa -->
        <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>

        <!-- Imagen navidad promociones -->
      <img class="christmas"
            src="/images/img-home-banner.jpg"
            alt="img-home-banner"
          />
    </header>