.searchBox {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.navMenu{

}

.list {
    list-style-type: none;
}

.burger-menu i{
    text-align: center;
    background-color: #1259c3;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.burger-menu {
    text-align: center;
    margin: 0;
    padding: 20px;
}

.top-header{
    background-color: #EAC926;
}

body {
    font-family: 'Roboto', sans-serif;
}

.mainPage {
    background-color: #ebebeb;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainPage section article {
    margin: 10px 0px;
}



.h-text{
    font-size: 24px;
}

.prices{
    font-size: 18px;
}

.disccounts{
    font-size: 16px;
    color: green;
}

.descriptions {
    font-size: 16px;
    margin-top: 15px;
}







@media (min-width: 481 px) {
    .md-p-1 {
        padding: 6px;
    }
}









.imgDescription{
    background-color: white;
    width: 320px;
    padding: 15px;
}
.truck {
    border: 1px solid green;
    color: green;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
}

.bottom-icons {
    padding: 30px;
    text-align: center;

}
.icons {
    margin-bottom: 10px;
    color: #1259c3;
}
.text-icons {
    color: #666;
    text-align: center;
}
.text-icons h4 {
    font-weight: bold;
}
.text-icons p {
    font-size: 12px;
}
