ul {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 481 px) {
    .md-p-1 {
        padding: 6px;
    }
}

.encabezado {
    background-color: #EAC926;
}

.burger-menu {
    text-align: center;
}

.burger-menu i{
    text-align: center;
    background-color: #1259c3;
    color: white;
    padding: 5px;
}

.blue {
    background-color: #03264C;
}

.lightBlue {
    color: #1259c3;
}

main {
    background-color: #ebebeb;
}

